<!--오늘 날씨도 좋고 그래서 꽃도 사고 술 한잔 하면 좋겠다 싶어서 집에서 와인 한잔했다.-->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href='{{url_for('static', filename='images/insta.ico')}}'>
    <title>Instagram Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>  
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
      var host_url = '{{ host_url }}';
    </script>
    <style>
      .col-md-h {
        flex: 0 0 12.666667%; max-width: 12.666667%;
      }
      .col-md-d {
        flex: 0 0 87.333333%; max-width: 87.333333%;
      }
      th {
        width: 12%;
        color: #fff;
        background-color: #69748a;
        border: 1px solid #36445e;
        height: 40px;
      }
      td {
        background-color: #fff;
        border: 1px solid #ddd;
      }
      button.disabled:hover {
        cursor: not-allowed;
      }

    </style>
  </head>
  <body style="background-color: floralwhite;">
    <script type="text/javascript">
      $(document).ready(function(){
        var sock = io.connect(host_url);
        sock.on('message', function(msg){
          console.log(msg);
          //text()로 html에 적용
          $('#sendbutton').text('분류 하기');
          $('#sendbutton').attr("disabled", false);
          // app.py에서 받아온 값을 html()로 태그로 적용
          $('#mtc_answer').html(msg.result);
          //그래프에 app.py에서 받아온 값 적용
          myChart.data.datasets[0].data =  msg.score.split('\n');
          //그래프에 업데이트
          window.chart.update();
          //html id가 result-table인 태그 나타내기
          $('#result-table').show();
          window.scrollTo(0,document.body.scrollHeight);
        });
        function process() {
            // 실제 작업 처리
            console.log('data processing job takes 2 seconds...');
            ts1 = new Date().getTime() + 2000;
            do { ts2 = new Date().getTime(); } while (ts2 < ts1);
            // 버튼 활성화
            $('#sendbutton').prop('disabled', false);
            $('#sendbutton').text('분류 하기');
          }
        
          $(function() {
            $('#sendbutton').click(function() {
              var text = $('#myMessage_context').val().replace(/"/g,"'").substr(0, 5000)
              sock.send(JSON.stringify({"type":"mtc","text":[escape(text)]}));
              // 버튼 비활성화
              $('#sendbutton').text('분류 중...');
              $('#sendbutton').prop('disabled', true);
              // 작업을 타이머에게 부탁하고 끝냄
              setTimeout(process, 0);
            });
          });
      });
    </script>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <br> <br>
      <div style="padding: 1rem 2rem 1rem;">
        <div class="container">
          <h1 class="display-3" style="text-align: center;">
	          <a href="/">Instagram Classification</a>
	        </h1>
        </div>
      </div>

      <div class="container">
        <br>
        <div class="row" style="font-size: 24px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
          다중분류 (multi-class classification)
        </div>

        <div class="row">
          <div  class="col-md-h text-center" style="height: 50px; background-color: #36445e; border: #36445e solid 1px; color:#fff; padding-top: 10px;">
            본문 입력 
          </div>
        </div>
        <div class="row">
          <div style="width:100%; background-color: #fafafa; border: #ddd solid 1px; padding: 10px;">
            <textarea id="myMessage_context" rows="10" style="width: 100%;">
 {{response_text}}
 </textarea>
          </div>
        </div>
        <div class="row text-center" style="width: 100%; margin-top: 40px; display: inline-block;">
          <button type="button" id="sendbutton" style="background-color: #4270e0; color: #fff; width: 120px; border: 1px solid #4270e0; height: 40px;"> 분류 하기 </button>
        </div>
        <div style="margin:50px;"></div>
        <div id="result-table" class="row text-center" style="background-color: #fafafa; margin-top:40 px; padding: 10px; display: none">
          <table style="width: 100%;">
            <tbody>
              <tr>
                <th>결과</th>
                <td id="mtc_answer"></td>
              </tr>
              <!--
              <tr>
                <th>신뢰도</th>
                <td id="mtc_score"></td>
              </tr>
              -->
              <tr>
                <th>차트</th>
                <td style="display: flex; align-items: center; justify-content: center;">
                  <!-- 차트 -->
                  <!-- chart js 라이브러리 -->
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                  <canvas id="doughnut-chart" width="350" height="350"></canvas>
                  <script>
                    var myChart = {
                      type: 'doughnut',
                      data: {
                        labels: ['술집','카페','음식','전시','꽃집','미용실','연극'],
                        datasets: [
                          {
                            backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(238, 130, 238, 0.5)',
                            'rgba(108, 187, 63, 0.5)'],
                            data: []
                          }
                        ]
                      },
                      options: {
                        responsive: false,
                        //범례 위치변경(오른쪽 가운데)
                        legend: {
                          display: true,
                          
                          align: "start",
                          //범례 모양 원으로 변경
                          labels: {
                            usePointStyle: true,
                            boxWidth: 6
                          }
                        },
                        //범례 클릭시 해당 범례 결과 그래프에서 제외
                        legendCallback: function(chart) {
                            var index = legendItem.datasetIndex;
                            var ci = this.chart;
                            var meta = ci.getDatasetMeta(index);

                            // See controller.isDatasetVisible comment
                            meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;

                            // We hid a dataset ... rerender the chart
                            ci.update();
                        }
                      }
                    };
                    window.onload = function() {
                      window.chart = new Chart(document.getElementById("doughnut-chart"), myChart);
                    };
                  </script>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr>

      </div> <!-- /container -->
      

    </main>

    <footer class="container" style="text-align: center;">
	    <p>&copy;HDMD Ai & TwoBlock Ai. All rights reserved.</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


